<div class="container__small-card">
  <div class="small-card__left">
    <div class="small-card__img">
      <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
    </div>
    <div class="small-card__report">
      <span>By Rafael</span>
    </div>
  </div>
  <div class="small-card__right">
    <div class="small-card__title">
      <h1>Lorem Ispsum</h1>
    </div>
    <div class="small-card__content">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas odit molestiae, dicta dolores molestia.</p>
    </div>
  </div>
</div>
<hr>
