<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__main">
    <app-big-card
                picture="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
                cardReport="By Rafael"
                cardTitle="Lorem Ipsum"
                cardContent="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus vel nisl vel mattis. Fusce eu condimentum risus. Vestibulum bibendum eros viverra tincidunt dignissim. Curabitur et aliquam ligula. Donec consequat convallis pulvinar. Duis suscipit vulputate mi a dapibus. Nunc maximus sem eu maximus volutpat."
                ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
                  smallPicture="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
                  smallReport="By Rafael"
                  smallTitle="Lorem Ipsum"
                  smallContent="freestar
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget facilisis est, nec finibus erat. Interdum et malesuada fames ac"
    ></app-small-card>
    <app-small-card
                    smallPicture="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
                    smallReport="By Rafael"
                    smallTitle="Lorem Ipsum"
                    smallContent="freestar
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget facilisis est, nec finibus erat. Interdum et malesuada fames ac."
    ></app-small-card>
    <app-small-card
                    smallPicture="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
                    smallReport="By Rafael"
                    smallTitle="Lorem Ipsum"
                    smallContent="freestar
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget facilisis est, nec finibus erat. Interdum et malesuada fames ac."
    ></app-small-card>
  </div>
</div>
